<form action="/user/update/<%= user.id %>" method="POST" class="form-signin">
	<h2> Editar el usuario</h2>
	<p> probando el status del commit </p>
	<input value="<%= user.nombre %>" name="nombre" type="text" class="form-control"/>
	<input value="<%= user.password %>" name="password" type="password" class="form-control"/>
	<input type="submit" value="Confirmar" class="btn btn-lg btn-primary btn-block"/>
	<input type="hidden" name="_csrf" value="<%= _csrf %>" />

</form>